@model IEnumerable<CaffeBar.Models.Reservation>

@{
    ViewData["Title"] = "Index";
    var user = ViewData["User"] as ApplicationUser;
}

<h1 class="form-clr">Reservations</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table form-clr">
    <thead>
        <tr>
            <th>
                User
            </th>
            <th>
                Table
            </th>
            <th>
                Date
            </th>
            <th>
                Time
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdentityUser.Name) @Html.DisplayFor(modelItem => item.IdentityUser.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TableId)
                </td>
                <td>
                    @item.Date.ToString("yyyy-MM-dd")
                </td>
                <td>
                    @item.Time.ToString(@"hh\:mm")
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
