@model IEnumerable<CaffeBar.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1 class="form-clr">Reservations</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table form-clr">
    <thead>
        <tr>
            <th>
                User
            </th>
            <th>
                Table
            </th>
            <th>
                Date
            </th>
            <th>
                Time
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @item.IdentityUser?.Name @item.IdentityUser?.Surname
                </td>
                <td>
                    Table @item.TableId
                </td>
                <td>
                    @item.Date.ToString("dd-MM-yyyy")
                </td>
                <td>
                    @item.Time.ToString(@"hh\:mm")
                </td>
                <td>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>
