@model CaffeBar.Models.Event

@{
    ViewData["Title"] = "Event Details";
}

<h1>@Model.Title</h1>

<div class="event-details-container">
    @if (!string.IsNullOrEmpty(Model.ImagePath))
    {
        <img class="event-image" src="@Model.ImagePath" alt="Event Image" />
    }
    else
    {
        <img class="event-image" src="~/images/placeholder.png" alt="No Image" />
    }

    <div class="event-details form-clr">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt class="col-sm-3">
                Date
            </dt>
            <dd class="col-sm-9">
                @Model.Date.ToString("dd.MM.yyyy")
            </dd>

            <dt class="col-sm-3">
                Time
            </dt>
            <dd class="col-sm-9">
                @Model.Date.ToString("HH:mm")
            </dd>
        </dl>
    </div>
</div>

<div class="event-actions">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
