@model IEnumerable<CaffeBar.Models.MenuItem>

@{
    ViewData["Title"] = "Menu";
    var isAdmin = ViewBag.IsAdmin as bool? ?? false;
}

<h1 class="form-clr">@ViewData["Title"]</h1>

<p>
    @if (isAdmin)
    {
        <a asp-action="Create" class="btn btn-primary">Add New Item</a>
    }
</p>

<div class="menu-container">
    @foreach (var item in Model) {
        <div class="menu-item">
            <div class="menu-item-image">
                @if (!string.IsNullOrEmpty(item.ImagePath))
                {
                    <img src="@item.ImagePath" alt="@item.Name" class="img-thumbnail" />
                }
                else
                {
                    <img src="/images/replacement.png" class="img-thumbnail" />
                }
            </div>
            <div class="menu-item-details">
                <h3 class="menu-item-name">@item.Name</h3>
                <p class="menu-item-price">@item.PriceHuman</p>
                @if(!isAdmin)
                {
                    <a class="btn btn-primary" data-id="@item.Id">Add</a>
                }
                @if (isAdmin)
                {
                    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }   
            </div>
        </div>
    }
</div>
